
.slider {
    position: relative;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    user-select: none;
}

.slide-track {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.slide {
    flex-shrink: 0;
    width: 512px;
    max-height: 640px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.slide-image {
    width: 100%;
    aspect-ratio: 4/5;
    overflow: hidden;
}

.slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    user-select: none;
}

.slide-overlay {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    align-items: start;
}



.project-carousel-info {
    display: none;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.project-carousel-info h1 {
    padding-bottom: 1rem;
}

